header
  .container
    h1 
      a(href="/") join#[span in]
    nav
      a(href="/b/examplebot") Bot
      a(href="/b/examplebot/new") New Event
      a(href="/b/examplebot/event") Event
      a(href="/setup") NewBot
