extends ../layout

block content
  .container
    h2 Cageball on sundays
    p.description Dette er en gruppe for deg som vil spille fotball i Nydalen på søndager.
    p Request access
    button Ask for a spot on this bot
