extends ../layout

block content
  .container
    h2 Cageball on sundays
    p.description Dette er en gruppe for deg som vil spille fotball i Nydalen på søndager.
    p This vot is invite-only, you have to know the owner to get access
    button Ask for a spot in this group
