extends ../layout

block content
  .container
    h2= bot.name
    p.description=  bot.description
    p This bot is invite-only, you have to know the owner to get access
    button Ask for a spot in this group
