extends ../layout

block content
  .container
    h2 Create event
    p.description Dette er en gruppe for deg som vil spille fotball i Nydalen på søndager.
    form
      div
        label(for="name") Title
        input(type="text", name="title", id="title")
      div
        label(for="time") Time
        input(type="datetime-local", name="time", id="time")
      div
        label(for="description") Description
        textarea(name="description", id="description")
      div
        button(type="submit") Create event
