extends ../layout

block content
  .container
    h2 Create an event for
      small= bot.name
    form(method="POST")
      div
        label(for="name") Title
        input(type="text", name="title", id="title")
      div
        label(for="time") Time
        input(type="datetime-local", name="time", id="time")
      div
        label(for="description") Description
        textarea(name="description", id="description")
      div
        button(type="submit") Create event
